
/*------------------------nav-----------------------------------*/
a {
    text-decoration: none;
    color: black;
}

.navbar {
    background-color: gray;
}

/*--------------------------main--------------------------------*/


/*-------------------------footer-------------------------------*/
footer {
    background-color: gray;
}